* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

header {
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    overflow: hidden;
    position: relative;
    padding-right: 1vw;
}

.areaPainelAdm{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    height: 50%;
    width: 22vw;
    border-radius: 10px;
    cursor: pointer;
    column-gap: 1vw;
    transition: transform 0.5s ease, background-color 0.5s ease;
}

.areaPainelAdm:hover {
    background-color: #4e9af1;
}

.areaPainelAdm:hover .tituloPainelAdm {
    opacity: 1;
    transition: opacity 0.3s;
}

.tituloPainelAdm{
    opacity: 0;
    color: white;
    font-size: 1.5vw;
}

.imgPainelAdm {
    width: auto;
    max-height: 100%;
}

main {
    width: auto;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.startQuiz {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5vh;
    font-family: 'Inter', sans-serif;
}

.questionnaire {
    display: none;
    flex-direction: column;
    row-gap: 10vh;
}

.question {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Inter', sans-serif;
    text-align: center;
}

.buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    column-gap: 2vw;
}

.button {
    color: white;
    font-size: 3rem;
    border: none;
    width: 3vw;
    height: 100%;
    border-radius: 10px;
    font-size: 2.5vw;
}

.button:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3); 
    transform: translateY(-5px); 
    cursor: pointer;
}

.btn0{
    background-color: rgb(204, 0, 0);
}

.btn1{
    background-color: rgb(224, 64, 48);
}

.btn2{
    background-color: rgb(240, 100, 48);
}

.btn3{
    background-color: rgb(248, 140, 48);
}

.btn4{
    background-color: rgb(255, 165, 0);
}

.btn5{
    background-color: rgb(255, 192, 0);
}

.btn6{
    background-color: rgb(230, 218, 50);
}

.btn7{
    background-color: rgb(180, 224, 75);
}

.btn8{
    background-color: rgb(135, 200, 80);
}

.btn9{
    background-color: rgb(80, 175, 50);
}

.btn10{
    background-color: rgb(30, 140, 50);
}

.feedback {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 2vh;
    border: 1px solid black;
    border-radius: 10px;
    width: 50vw;
    height: 50vh;
    padding: 1rem;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

.feedbackTitulo {
    text-align: center;
    font-family: 'Inter', sans-serif;
}

.textoFeedback {
    padding: 0.5rem;
    width: 100%;
    height: 100%;
    resize: none;
    border-radius: 10px;
}

footer {
    width: 100%;
    height: 10vh;
    text-align: center;
    font-family: 'Inter', sans-serif;
}