* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70vw;
    height: 70vh;
}

.menu {
    border-right: 1px solid black;
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-color: #87ceeb;
    border-radius: 10px;
    row-gap: 3vh;
}

.menuOption {
    color: white;
    width: 100%;
    height: 5vh;
    text-align: center;
    transition: background-color 0.3s ease;
    cursor: pointer;
    border-radius: 5px;
}

.menuOption:hover {
    background-color: white;
    color: black;
}

.menuItens {
    width: 70%;
    height: 100%;
}

.setores {
    display: none;
}

.perguntas {
    display: none;
}